<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <div class="slider_info"></div>

    <div class="booking_info_container mt-4">
      <div class="group_info grid_list_info">
        <div class="left_info d-flex gap-5">
          <div class="group_image_info">
            <p class="role_vehicle text_main">Chủ xe</p>
            <p class="name_vehicle text_main">Ford Everest 2023</p>
            <p class="times_vehicle text_normal">{{vehicleDetail.totalRun}} chuyến</p>
            <img
              src="https://taimienphi.vn/tmp/cf/aut/anh-gai-xinh-1.jpg"
              alt=""
              class="img_rental"
            />
            <p class="rental_name text_normal">{{vehicleDetail.owner}}</p>
          </div>
          <div class="group_desc_info d-flex flex-column gap-3">
            <div
              class="characterizes d-flex align-items-center gap-md-4 gap-xl-5"
            >
              <p class="text_main">Đặc điểm</p>
              <p class="color_vehicle text_normal">Màu: {{vehicleDetail.color}}</p>
              <p class="fuel text_normal">Nhiên liệu: {{vehicleDetail.fuel}}</p>
              <p class="chair text_normal">Số ghế: {{vehicleDetail.seat}}</p>
            </div>
            <div class="feature d-flex align-items-center gap-md-4 gap-xl-5">
              <p class="text_main">Tính năng</p>
              <p class="window text_normal">{{vehicleDetail.featureList[0]}}</p>
              <p class="camera text_normal">{{vehicleDetail.featureList[1]}}</p>
            </div>
            <div class="rules_list d-flex align-items-center gap-md-4 gap-xl-5">
              <p class="text_main align-self-start">Điều khoản</p>
              <p class="rule_item text_normal">
                {{vehicleDetail.rule}}
              </p>
            </div>
            <div class="map">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.4854095316455!2d105.5248756153633!3d21.01325499368241!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31345b465a4e65fb%3A0xaae6040cfabe8fe!2zVHLGsOG7nW5nIMSQ4bqhaSBI4buNYyBGUFQ!5e0!3m2!1svi!2s!4v1678552464711!5m2!1svi!2s"
                width="600"
                height="350"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </div>
          </div>
        </div>
        <div *ngIf="!submitted">
        <div class="right_info d-flex justify-content-around">
          <div class="book_left">
            <div class="form-outline form-white mb-4">
              <label class="form-label text_main" for="name">Họ và tên: </label>
              <input [(ngModel)]="formBooking.name" type="text" class="form-control fs-3" id="name" />
            </div>
            <div class="form-outline form-white mb-4">
              <label class="form-label text_main" for="address"
                >Địa chỉ:
              </label>

              <input [(ngModel)]="formBooking.address" type="text" class="form-control fs-3" id="address" />
            </div>
            <div class="form-outline form-white mb-4">
              <label class="form-label fs-4 text_main" for="phone"
                >Số điện thoại:
              </label>

              <input [(ngModel)]="formBooking.phone" type="text" class="form-control fs-3" id="phone" />
            </div>
            <div class="form-outline form-white mb-4">
              <label class="form-label fs-4 text_main">Ngày sinh: </label>

              <input [(ngModel)]="formBooking.bod" type="date" class="form-control fs-3" />
            </div>
            <div class="form-outline form-white mb-4">
              <label class="form-label fs-4 text_main" for="idCard"
                >CMT/CCCD:
              </label>
              <input [(ngModel)]="formBooking.cardId" type="text" class="form-control fs-3" id="idCard" />
            </div>
          </div>
          <div class="book_right">
            <div class="form-outline form-white mb-4">
              <label class="form-label fs-4 text_main">Ngày đi: </label>

              <input [(ngModel)]="formBooking.from" type="date" class="form-control fs-3" />
            </div>
            <div class="form-outline form-white mb-4">
              <label class="form-label fs-4 text_main">Ngày về: </label>

              <input [(ngModel)]="formBooking.to" type="date" class="form-control fs-3" />
            </div>
            <p class="text_main mb-2">Nơi giao xe, trả xe:</p>
            <p class="text_normal mb-4">Quận Thanh Xuân, Hà Nội</p>
            <p class="text_main mb-4">Chi tiết giá:</p>
            <div
              class="group_price_rental d-flex justify-content-around align-items-center"
            >
              <p class="text_normal">Giá thuê</p>
              <p class="text_normal">{{vehicleDetail.price}}/ngày</p>
            </div>
            <hr />
            <div
              class="group_total_rental d-flex justify-content-around align-items-center"
            >
              <p class="text_main">Tổng cộng:</p>
              <p [(ngModel)]="formBooking.total" class="text_main">900</p>
            </div>
            <div
              class="group_submit_form d-flex align-items-center justify-content-center gap-5 mt-5"
            >
              <button  (click)="saveTutorial()" class="submit_form">Đặt xe</button>
              <button class="submit_form">Quay lại</button>
            </div>
          </div>
        </div>
        </div>
      </div>
      <div class="list_review mt-4 mb-4">
        <h2 class="fw-bolder">Đánh giá khách hàng</h2>
        <div *ngFor = "let item of vehicleDetail.feedBackList" class="item_review">
          <hr />
          <p class="text_main">{{ item.name }}</p>
          <div class="stars d-flex align-items-center gap-2">
            <i class="fa-regular fa-star star"></i>
            <i class="fa-regular fa-star star"></i>
            <i class="fa-regular fa-star star"></i>
            <i class="fa-regular fa-star star"></i>
            <i class="fa-regular fa-star star"></i>
          </div>
          <p class="text_normal mt-3">
            Xe giao đúng giờ. Anh chủ xe nhiệt tình hướng dẫn rõ ràng các tính
            năng trên xe.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
