<!--<div class="col-md-12">-->
<!--  <div class="card card-container">-->
<!--    <img-->
<!--      id="profile-img"-->
<!--      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"-->
<!--      class="profile-img-card"-->
<!--    />-->
<!--    <form-->
<!--      *ngIf="!isSuccessful"-->
<!--      name="form"-->
<!--      (ngSubmit)="f.form.valid && onSubmit()"-->
<!--      #f="ngForm"-->
<!--      novalidate-->
<!--    >-->
<!--      <div class="form-group">-->
<!--        <label for="username">Username</label>-->
<!--        <input-->
<!--          type="text"-->
<!--          class="form-control"-->
<!--          name="username"-->
<!--          [(ngModel)]="form.username"-->
<!--          required-->
<!--          minlength="3"-->
<!--          maxlength="20"-->
<!--          #username="ngModel"-->
<!--        />-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="email">Email</label>-->
<!--        <input-->
<!--          type="email"-->
<!--          class="form-control"-->
<!--          name="email"-->
<!--          [(ngModel)]="form.email"-->
<!--          required-->
<!--          email-->
<!--          #email="ngModel"-->
<!--        />-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="password">Password</label>-->
<!--        <input-->
<!--          type="password"-->
<!--          class="form-control"-->
<!--          name="password"-->
<!--          [(ngModel)]="form.password"-->
<!--          required-->
<!--          minlength="6"-->
<!--          #password="ngModel"-->
<!--        />-->

<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="role">Role</label>-->
<!--        <input-->
<!--          type="text"-->
<!--          class="form-control"-->
<!--          name="role"-->
<!--          [(ngModel)]="form.role"-->
<!--          required-->
<!--          minlength="3"-->
<!--          maxlength="20"-->
<!--          #role="ngModel"-->
<!--        />-->

<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="name">Name</label>-->
<!--        <input-->
<!--          type="text"-->
<!--          class="form-control"-->
<!--          name="name"-->
<!--          [(ngModel)]="form.name"-->
<!--          required-->
<!--          minlength="3"-->
<!--          maxlength="20"-->
<!--          #name="ngModel"-->
<!--        />-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="phone">Phone</label>-->
<!--        <input-->
<!--          type="text"-->
<!--          class="form-control"-->
<!--          name="phone"-->
<!--          [(ngModel)]="form.phone"-->
<!--          required-->
<!--          minlength="3"-->
<!--          maxlength="20"-->
<!--          #phone="ngModel"-->
<!--        />-->

<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="address">Address</label>-->
<!--        <input-->
<!--          type="text"-->
<!--          class="form-control"-->
<!--          name="address"-->
<!--          [(ngModel)]="form.address"-->
<!--          required-->
<!--          minlength="3"-->
<!--          maxlength="20"-->
<!--          #address="ngModel"-->
<!--        />-->

<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="cardId">Card Id</label>-->
<!--        <input-->
<!--          type="text"-->
<!--          class="form-control"-->
<!--          name="cardId"-->
<!--          [(ngModel)]="form.cardId"-->
<!--          required-->
<!--          minlength="3"-->
<!--          maxlength="20"-->
<!--          #cardId="ngModel"-->
<!--        />-->

<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="gender">Gender</label>-->
<!--        <input-->
<!--          type="text"-->
<!--          class="form-control"-->
<!--          name="cardId"-->
<!--          [(ngModel)]="form.gender"-->
<!--          required-->
<!--          minlength="3"-->
<!--          maxlength="20"-->
<!--          #gender="ngModel"-->
<!--        />-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <button class="btn btn-primary btn-block">Sign Up</button>-->
<!--      </div>-->

<!--      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">-->
<!--        Signup failed!<br />{{ errorMessage }}-->
<!--      </div>-->
<!--    </form>-->

<!--    <div class="alert alert-success" *ngIf="isSuccessful">-->
<!--      Your registration is successful!-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<section class="vh-100 home-img form_common">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="main_color text-white" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <div class="mt-md-4 pb-5">
              <h2 class="fw-bold mb-2 text-uppercase fs-1">Đăng ký</h2>
              <p class="text-white-50 mb-5 guest-test"></p>

              <div class="form-outline form-white mb-4">
                <input
                  type="text"
                  class="form-control fs-3"
                  placeholder="Họ và tên"
                />
              </div>

              <div class="form-outline form-white mb-4">
                <input
                  type="text"
                  class="form-control fs-3"
                  placeholder="Tên đăng nhập"
                />
              </div>
              <div class="form-outline form-white mb-4">
                <input
                  type="email"
                  class="form-control fs-3"
                  placeholder="Email"
                />
              </div>
              <div class="form-outline form-white mb-4">
                <input
                  type="password"
                  class="form-control fs-3"
                  placeholder="Mật khẩu"
                />
              </div>
              <div class="form-outline form-white mb-4">
                <input
                  type="text"
                  class="form-control fs-3"
                  placeholder="Địa chỉ"
                />
              </div>
              <div class="form-outline form-white mb-4 d-flex">
                <input
                  type="text"
                  class="form-control fs-3"
                  placeholder="Số điện thoại"
                />
                <input
                  type="text"
                  class="form-control ms-2 fs-3"
                  placeholder="CMT/CMND"
                />
              </div>
              <div class="form-outline form-white mb-4">
                <input
                  type="date"
                  class="form-control fs-3"
                  placeholder="Ngày sinh"
                />
              </div>
              <div
                class="form-outline form-white mb-4 d-flex justify-content-center align-items-center"
              >
                <div class="col-md-6">
                  <select class="form-select fs-3">
                    <option selected disabled value="">Giới tính</option>
                    <option>...</option>
                  </select>
                </div>
                <div class="col-md-6 ms-2">
                  <select class="form-select fs-3">
                    <option selected disabled value="">Cửa hàng</option>
                    <option>...</option>
                  </select>
                </div>
              </div>
              <button
                class="btn btn-outline-light btn-lg px-5 fs-2"
                type="submit"
              >
                Đăng ký
              </button>
            </div>

            <div class="mb-md-5 f2-4 pb-5">
              <p class="mb-0 fs-3">
                Bạn đã có tài khoản?
                <a
                  [routerLink]="['/login']"
                  class="fw-bold text_color suggest_link fs-3"
                >Đăng nhập</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
