<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="booking_list_customer" >
  <div class="main_option ">
    <div class="row search_color justify-content-center align-items-center py-4 mt-4 g-4">
      <div class="col-md-4 form-outline form-white">
        <input
          type="text"
          class="form-control fs-4 padding_field"
          placeholder="Tên xe"
        />
      </div>
      <div class="col-md-4 form-outline form-white margin_field">
        <div class="row align-items-center">
          <div class="col-3 col-md-5 col-xl-2">
            <label class=" fs-4">Địa điểm: </label>
          </div>
          <div class="col-9 col-md-7 col-xl-10">
            <input
              type="text"
              class="form-control fs-4 padding_field"
              placeholder="Hà Nội"
            />
          </div>
        </div>
      </div>
      <div class="col-md-4 form-outline form-white margin_field">
        <div class="row align-items-center">
          <div class="col-3 col-md-4 col-xl-2">
            <label class="form-label fs-4">Ngày đi: </label>
          </div>
          <div class="col-9 col-md-8 col-xl-10">
            <input
              type="date"
              class="form-control fs-4 padding_field"
            />
          </div>

        </div>

      </div>

      <div class="col-md-4 form-outline form-white margin_field">
        <div class="row align-items-center">
          <div class="col-3 col-md-6 col-xl-3">
            <label class="form-label fs-4">Loại phương tiện: </label>
          </div>
          <div class="col-9 col-md-6 col-xl-9">
            <!--          <select  class="form-select fs-4 padding_field w-100">-->
            <!--            <option selected disabled value=""></option>-->
            <!--            <option>...</option>-->
            <!--          </select>-->

            <select  class="form-select fs-4 padding_field w-100">
              <option *ngFor = "let vehicleType of vehicleTypes"[value]="vehicleType.id">{{vehicleType.name}}</option>

            </select>

          </div>

        </div>
      </div>
      <div class="col-md-4 form-outline form-white margin_field">
        <div class="row align-items-center">
          <div class="col-3 col-md-4 col-xl-2">
            <label class="form-label fs-4">Cửa hàng: </label>
          </div>
          <div class="col-9 col-md-8 col-xl-10">
            <select class="form-select fs-4 padding_field w-100">
              <option *ngFor = "let shop of shops"[value]="shop.id">{{shop.name}}</option>
            </select>
          </div>

        </div>
      </div>

      <div class="col-md-4 form-outline form-white margin_field">
        <div class="row align-items-center">
          <div class="col-3 col-md-4 col-xl-2">
            <label class="form-label fs-4">Ngày về: </label>
          </div>
          <div class="col-9 col-md-8 col-xl-10">
            <input
              type="date"
              class="form-control fs-4 padding_field"
            />
          </div>

        </div>
      </div>
    </div>

  </div>

  <div class="group_booking my-5">
    <div class="row gx-5">
      <div class="advance_option col-md-3 col-12 col-xl-2 search_color py-3 px-4 h-100 position-relative">
        <div class="form-outline form-white">
          <label class="form-label fs-4 text-white">Sắp xếp: </label>
          <select class="form-select fs-4 padding_field">
            <option selected disabled value="">Tất cả</option>
            <option>...</option>
          </select>
        </div>
        <div class="form-outline form-white mt-3">
          <label class="form-label fs-4 text-white">Hãng xe: </label>
          <select class="form-select fs-4 padding_field ">
            <option *ngFor = "let company of companies"[value]="company.id">{{company.name}}</option>
          </select>
        </div>
        <div class="form-outline form-white mt-3">
          <label class="form-label fs-4 text-white">Loại xe: </label>
          <select class="form-select fs-4 padding_field ">
            <option *ngFor = "let seat of seats"[value]="seat.id">{{seat.name}}</option>
          </select>
        </div>
        <div class="form-outline form-white mt-3">
          <label class="form-label fs-4 text-white">Tiêu thụ nhiên liệu: </label>
          <select class="form-select fs-4 padding_field">
            <option *ngFor = "let fuel of fuels"[value]="fuel.id">{{fuel.name}}</option>
          </select>
        </div>
        <div class="form-outline form-white mt-3">
          <label class="form-label fs-4 text-white" for="price">Mức giá: </label>
          <input type="range" id="price" name="vol" min="0" max="100" class="form-range fs-4">
        </div>
        <button class="main_color btn_search_all submit_form position-absolute">Tìm kiếm</button>

      </div>
      <div class="list_group col-md-9 col-xl-10 col-12">
        <div class="grid_list_booking">



          <div *ngFor = "let vehicleItem of vehicleItems"  class="list_item item_color d-flex flex-column-reverse justify-content-center  p-2 position-relative">
            <div class="group_info">
              <p class="vehicle_name"> {{vehicleItem.name}}</p>
              <p class="vehicle_address"><i class="fa-solid fa-location-dot"></i> {{vehicleItem.location}}</p>
            </div>

            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9Lmom4HhPlj086LPKfVS8BdefW6ZYZq5aV0xvb2k_&s" alt="" class="image_vehicle">
            <p class="tag_price">{{vehicleItem.price}}</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

</body>
</html>
