<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <h1 class="text-center title_view_order">Tra cứu mã đặt xe</h1>
    <p class="mess_order text-danger fs-4">
      Đơn đặt của bạn đã được chủ xe xác nhận. Vui lòng liên hệ với chủ xe để
      lấy xe.
    </p>
    <div class="booking_info_container mt-4">
      <div class="group_info grid_list_info">
        <div class="left_info d-flex gap-5">
          <div class="group_image_info">
            <p class="role_vehicle text_main">Chủ xe</p>
            <p class="name_vehicle text_main">Ford Everest 2023</p>
            <p class="times_vehicle text_normal">{{bookingDetail.vehicleDetails.totalRun}} chuyến</p>
            <img
              src="https://taimienphi.vn/tmp/cf/aut/anh-gai-xinh-1.jpg"
              alt=""
              class="img_rental"
            />
            <p class="rental_name text_normal">{{bookingDetail.vehicleDetails.owner}}</p>
          </div>
          <div class="group_desc_info d-flex flex-column gap-3">
            <div
              class="characterizes d-flex align-items-center gap-md-4 gap-xl-5"
            >
              <p class="text_main">Đặc điểm</p>
              <p class="color_vehicle text_normal">Màu: {{bookingDetail.vehicleDetails.color}}</p>
              <p class="fuel text_normal">Nhiên liệu: {{bookingDetail.vehicleDetails.fuel}}</p>
              <p class="chair text_normal">Số ghế: {{bookingDetail.vehicleDetails.seat}}</p>
            </div>
            <div class="feature d-flex align-items-center gap-md-4 gap-xl-5">
              <p class="text_main">Tính năng</p>
              <p class="window text_normal">{{bookingDetail.vehicleDetails.featureList[0]}}</p>
              <p class="camera text_normal">{{bookingDetail.vehicleDetails.featureList[1]}}</p>
            </div>
            <div class="rules_list d-flex align-items-center gap-md-4 gap-xl-5">
              <p class="text_main align-self-start">Điều khoản</p>
              <p class="rule_item text_normal">
                {{bookingDetail.vehicleDetails.rule}}
              </p>
            </div>
            <div class="map">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.4854095316455!2d105.5248756153633!3d21.01325499368241!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31345b465a4e65fb%3A0xaae6040cfabe8fe!2zVHLGsOG7nW5nIMSQ4bqhaSBI4buNYyBGUFQ!5e0!3m2!1svi!2s!4v1678552464711!5m2!1svi!2s"
                width="600"
                height="350"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </div>
          </div>
        </div>
        <div class="right_info position-relative">
          <div class="d-flex justify-content-around">
            <div class="book_left">
              <p class="around_date text_main">Ngày đi/Ngày về:</p>
              <div
                class="group_date text_normal d-flex align-items-center gap-5"
              >
                <p class="date_1">{{bookingDetail.from}}</p>
                <p class="date_2">{{bookingDetail.to}}</p>
              </div>
              <p class="place_vehicle text_main mt-4">Nơi giao xe, trả xe</p>
              <p class="place_detail text_normal">{{bookingDetail.location}}</p>
              <p class="price_title text_main mt-4">Chi tiết giá:</p>
              <div
                class="group_price_rental d-flex justify-content-around align-items-center"
              >
                <p class="text_normal">Giá thuê</p>
                <p class="text_normal">{{bookingDetail.vehicleDetails.price}}/ngày</p>
              </div>
              <hr />
              <div
                class="group_total_rental d-flex justify-content-around align-items-center"
              >
                <p class="text_main">Tổng cộng:</p>
                <p class="text_main">{{bookingDetail.total}}</p>
              </div>
            </div>
            <div class="book_right">
              <p class="text_normal">
                <strong class="text_main">Họ và tên: </strong> {{bookingDetail.name}}
              </p>
              <p class="text_normal mt-4">
                <strong class="text_main">Địa chỉ: </strong> {{bookingDetail.address}}
              </p>
              <p class="text_normal mt-4">
                <strong class="text_main">Số điện thoại: </strong> {{bookingDetail.phone}}
              </p>
              <p class="text_normal mt-4">
                <strong class="text_main">Ngày sinh: </strong> {{bookingDetail.bod}}
              </p>
              <p class="text_normal mt-4">
                <strong class="text_main">CMT/CCCD: </strong>
                {{bookingDetail.cardId}}
              </p>
            </div>
          </div>
          <div class="part_report mt-5">
            <div class="group_area d-flex gap-4 justify-content-center">
              <p class="report_title text_main">Báo cáo chủ xe</p>

              <textarea placeholder="Nội dung" rows="5%" cols="120%">
              </textarea>
            </div>
          </div>
          <button class="submit_form send_button d-block">Gửi</button>
        </div>
      </div>
      <div class="list_review mt-4 mb-4">
        <h2 class="fw-bolder">Đánh giá khách hàng</h2>
        <div class="item_review">
          <hr />
          <p class="text_main">Nguyễn Diệu Linh</p>
          <div class="stars d-flex align-items-center gap-2">
            <i class="fa-regular fa-star star"></i>
            <i class="fa-regular fa-star star"></i>
            <i class="fa-regular fa-star star"></i>
            <i class="fa-regular fa-star star"></i>
            <i class="fa-regular fa-star star"></i>
          </div>
          <p class="text_normal mt-3">
            Xe giao đúng giờ. Anh chủ xe nhiệt tình hướng dẫn rõ ràng các tính
            năng trên xe.
          </p>
        </div>
        <div class="item_review">
          <hr />
          <p class="text_main">Nguyễn Diệu Linh</p>
          <div class="stars d-flex align-items-center gap-2">
            <i class="fa-regular fa-star star"></i>
            <i class="fa-regular fa-star star"></i>
            <i class="fa-regular fa-star star"></i>
            <i class="fa-regular fa-star star"></i>
            <i class="fa-regular fa-star star"></i>
          </div>
          <p class="text_normal mt-3">
            Xe giao đúng giờ. Anh chủ xe nhiệt tình hướng dẫn rõ ràng các tính
            năng trên xe.
          </p>
        </div>
        <div class="item_review">
          <hr />
          <p class="text_main">Nguyễn Diệu Linh</p>
          <div class="stars d-flex align-items-center gap-2">
            <i class="fa-regular fa-star star"></i>
            <i class="fa-regular fa-star star"></i>
            <i class="fa-regular fa-star star"></i>
            <i class="fa-regular fa-star star"></i>
            <i class="fa-regular fa-star star"></i>
          </div>
          <p class="text_normal mt-3">
            Xe giao đúng giờ. Anh chủ xe nhiệt tình hướng dẫn rõ ràng các tính
            năng trên xe.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
